<template>
    <div>
        <el-row>
            <el-col :md="12">
                <h3>Inventory</h3>
                <div class="table-container">
                    <el-table ref="inventoryTable" :data="inventory" v-on:row-click="(row, column) => getVegetable(row.id, column)" size="mini" height="100%" border highlight-current-row>
                        <el-table-column label="Item" prop="name" />
                        <el-table-column label="Price / kg" prop="price" />
                        <el-table-column label="Amount (kg)" prop="amount" />
                        <el-table-column prop="delete" width="70px" align="center">
                            <template slot-scope="scope">
                                <el-button type="danger" icon="el-icon-delete" size="mini" v-on:click="handleDelete(scope.row.id)" />
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-col>
        </el-row>
        <el-row class="row-margin">
            <el-col :md="12">
                <VegetableComponent :vegetable="vegetable" v-on:reload="reload()" v-on:reset="reset()" />
            </el-col>
        </el-row>
    </div>
</template>
<script src="./inventory.ts" />