<template>
    <div>
        <h3>{{ newVegetable.id === 0 ? 'Add new item' : 'Edit item' }}</h3>
        <el-form onsubmit="return false">
            <el-row :gutter="10">
                <el-col :span="8">
                    <el-form-item label="Item" size="mini">
                        <el-input v-model="newVegetable.name" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="Price / kg" size="mini">
                        <el-input v-model="newVegetable.price" type="number" />
                    </el-form-item>
                </el-col>
                <el-col :span="8">
                    <el-form-item label="Amount (kg)" size="mini">
                        <el-input v-model="newVegetable.amount" type="number" />
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col>
                    <el-button @click="submit()" native-type="submit" type="success" :icon="getButtonInfo('icon')" size="small">{{ getButtonInfo('text') }}</el-button>
                    <el-button v-if="vegetable" @click="reset()" native-type="button" type="default" plain icon="el-icon-plus" size="small">New Vegetable</el-button>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>
<script src="./vegetable.ts" />