body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    background: #d9f5df;
    font-size: 12px;
}

h3 {
    margin: 10px 0px;
    font-family: 'Helvetica';
    font-size: 2em;
}

.current-row td {
    background-color: #b4dabc !important;
}

.row-margin {
    margin-top: 10px;
}

.table-container {
    height: 400px;
}